@charset 'utf-8';

html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
}

body {
  color: #1d1d1f;
  letter-spacing: -0.05em;
  background-color: #fff;
  overflow-x: hidden;
}

p {
  line-height: 1.6;
}

#header {
  /* iPhone 가로 스크롤 방지 */
  overflow-x: hidden;
}

.nav {
  position: absolute;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.global-nav {
  top: 0;
  height: 44px;
  z-index: 10;
}

.global-nav-links,
.local-nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
}

.local-nav {
  top: 45px;
  width: 100%;
  height: 52px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.local-nav-sticky .local-nav {
  position: fixed;
  top: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: saturate(180%) blur(15px);
}

.product-name {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
}

.local-nav ul {
  display: flex;
}

.local-nav-item:not(:last-child) {
  margin-right: 10px;
}

.scroll-section {
  position: relative;
  padding-top: 50vh;
}

#scroll-section-0 h1 {
  position: relative;
  top: -12vh;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  z-index: 5;
}

.main-message {
  top: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  margin: 5px 0;
  font-size: 2.5rem;
  opacity: 0;
}

.main-message p {
  font-weight: bold;
  text-align: center;
  line-height: 1.2;
}

.main-message small {
  display: block;
  margin-bottom: 0.5em;
  font-size: 1rem;
}

#scroll-section-2 .main-message {
  font-size: 3.5rem;
}

.description {
  max-width: 1000px;
  margin: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.description strong {
  float: left;
  margin-right: 0.2em;
  font-size: 3rem;
  color: rgb(29, 29, 31);
}

.desc-message {
  width: 50%;
  font-weight: bold;
  opacity: 0;
}

.pin {
  width: 1px;
  height: 100px;
  background-color: rgba(29, 29, 31);
}

#scroll-section-2 .b {
  top: 10%;
  left: 40%;
}

#scroll-section-2 .c {
  top: 15%;
  left: 45%;
}

.mid-message {
  width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
}

.mid-message strong {
  font-weight: bold;
  color: rgba(29, 29, 31);
}

.canvas-caption {
  max-width: 1000px;
  margin: -5em auto;
  padding: 0 1rem;
  font-size: 1.2rem;
  color: #888;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7rem;
  color: #fff;
  background: darkorange;
}

.sticky-elem {
  position: fixed;
  left: 0;
  display: none;
  width: 100%;
}

#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem {
  display: block;
}

.sticky-elem-canvas {
  top: 0;
  height: 100%;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

.image-blend-canvas {
  background-color: #333;
}

.image-blend-canvas.sticky {
  position: fixed;
  top: 0;
}

#scroll-section-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  z-index: 100;
  transition: 0.5s;
}

.before-load .loading {
  opacity: 1;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-circle-ani {
  0% {
    stroke-dashoffset: 157;
  }
  75% {
    stroke-dashoffset: -147;
  }
  100% {
    stroke-dashoffset: -157;
  }
}

.loading-circle {
  width: 54px;
  height: 54px;
  animation: loading-spin 3s infinite;
}

.loading-circle circle {
  stroke: #000;
  stroke-width: 4;
  /*getTotalLength()로 stroke의 길이를 얻을 수 있음*/
  stroke-dasharray: 157;
  stroke-dashoffset: 0;
  fill: none;
  animation: loading-circle-ani 1s infinite;
}

@media (min-width: 1024px) {
  #scroll-section-0 h1 {
    font-size: 9vw;
  }
  .main-message {
    font-size: 4vw;
  }
  .description {
    margin: 0 auto;
    padding: 0;
    font-size: 2rem;
  }
  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 6vw;
  }
  .main-message small {
    font-size: 1.5vw;
  }
  .desc-message {
    width: 20%;
  }

  #scroll-section-2 .b {
    top: 20%;
    left: 53%;
  }

  #scroll-section-2 .c {
    left: 55%;
  }

  .mid-message {
    padding: 0;
    font-size: 4vw;
  }
  .canvas-caption {
    padding: 0;
    font-size: 2rem;
  }
}
